/*
    Generic classes
*/

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.8)), url(../../imgs/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .field-group {
        margin-bottom: 2rem;
    }

    &__inner {
        width: 350px;
        background-image: radial-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.8));
        padding: 2rem;

        h1 {
            margin-bottom: 3rem;
            text-align: center;
        }
    }

    .btn-primary {
        width: 100%;
    }
}


/*
    Login
*/

.auth-login {
    &__remember {
        label {
            color: $light-gray2;
            font-size: 0.8rem;
        }
    }

    &__reset {
        a {
            display: block;
            text-align: right;
            color: $light-gray2;
            font-size: 0.8rem;
        }
    }

    &__register {
        a {
            text-align: center;
            display: block;
        }
    }
}

/*
    Register
*/

.auth-register {
    &__login {
        a {
            text-align: center;
            display: block;
        }
    }
}