* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font-reboto;
    color: $light-gray2;
    background-image: radial-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.8)), url(../imgs/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, hr {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem
}

a {
    text-decoration: none;
    color: $light-gray2;

    &:hover {
        color: $purple;
    }
}

button {
    background-color: unset;
    border: none;

    &:focus {
        outline: none;
    }
}

hr {
    border: 1px solid $purple;
}

img {
    width: 100%;
    height: auto;
}

form {
    label {
        font-size: 1.1rem;
        display: block;
        color: $light-gray;
        margin-bottom: 0.1rem;
    }

    input {
        background-color: unset;
        width: 100%;
        font-size: 1.3rem;
        display: block;
        box-sizing: border-box;
        padding: 0.3rem;
        border: 1px solid $light-gray2;
        border-radius: 5px;
        color: $light-gray2;

        &:focus {
            border: 1px solid $black;
            outline: unset;
        }
    }

    input[type="checkbox"] {
        width: unset;
    }

    textarea {
        background-color: unset;
        width: 100%;
        font-size: 1rem;
        box-sizing: border-box;
        padding: 0.3rem;
        border: 1px solid $light-gray2;
        font-family: $font-reboto;
        color: $light-gray2;
        resize: vertical;
        
        &:focus {
            border: 1px solid $black;
            outline: unset;
        }
    }

    .field-group {
        margin-bottom: 1rem;

        &__cols {
            display: flex;
        }

        &__row {
            width: 50%;
            margin: 0 0.5rem 0 0.5rem;

            &:nth-child(1) {
                margin-left: 0;
            }

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    .checkbox-wrap {
        display: flex;

        label {
            margin: auto 0;
        }

        input {
            margin: 0 0.3rem 0 0;
        }
    }
}