// Colours
$light-gray: #2b2f3c;
$light-gray2: lightgray;
$dark-gray: #1f2428;
$purple: #e62c62;
$dark-purple: #c93457;
$black: black;
$white: white;
$red: #cc2d2f;

$bg-primary: white;
$bg-secondry: #0d0d0d;

// Fonts
$font-reboto: 'Roboto', sans-serif;
